package templates

var htmx = templ.NewOnceHandle()
var css = templ.NewOnceHandle()

templ HTMX() {
	@htmx.Once() {
		<script src="https://unpkg.com/htmx.org@2.0.4"></script>
		<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
	}
}

templ CSS() {
	@css.Once() {
		<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico"/>
		<link rel="stylesheet" href="/static/css/output.css"/>
	}
}
